body{
    background-color: aqua;
}

header{
    display: flex;
    justify-content: center;
    margin: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#borrarTodo{
    display: flex;
    flex-direction: column;
}

ul{
    width: 240px;
}


.listaCreada{
    background-color: rebeccapurple;
}

.botonBorrar{
    background-color: red;
    color: antiquewhite;
    float: right;

}